@font-face {
    font-family: "Play", sans-serif;
    src: url(./font/Play-Bold.ttf);
    font-family: "Play", sans-serif;
    src: url(./font/Play-Regular.ttf);
    font-family: "Roboto", sans-serif;
    src: url(./font/Roboto-Bold.ttf);
    font-family: "Roboto", sans-serif;
    src: url(./font/Roboto-Medium.ttf);
    font-family: "Roboto", sans-serif;
    src: url(./font/Roboto-Regular.ttf);
}