.main-description-decoration {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            justify-content: flex-start;
        }
    
    &__photos {
        display: none;
        flex-direction: column;
        @media screen and (min-width: $bp-desktop) {
            display: flex;
        }
    }
    &__photo {
        border-radius: 1000px;
        width: 328px;
        height: auto;
    }
}

.photo1 {
    margin-top: 0;
    margin-left: 28px;
}

.photo2 {
    margin-top: 40px;
    margin-left: 196px;
}
