:root {
    --brand-color-light: #2b7fff;
    --brand-color-dark: #011c44;
    --black: #000000;
    --side-text: #747272;
    --white: #ffffff;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;