.aside-form {
    display: flex;
    position: relative;
    background-color: var(--brand-color-dark);
    background-image: url("/images/backgroundmodal.png");
    width: 100%;
    max-width: 423px;
    height: 480px;
    border-radius: 32px;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
